<a class="film-card" href="#" data-id={{id}}>
    <img class="film-card__poster" src={{fullPath}} alt={{title}} loading=lazy />
    <div class="film-card__wrapper">
        <h3 class="film-card__film-name">{{title}}</h3>
        <div class="film-card__film-info">
            <div class="film-card__genre-year-wrapper">
                <span class="film-card__genre">{{genresInCard}}</span>
                <span>|</span>
                <span class="film-card__year">{{filmYear}}</span>
            </div>
            <span class="film-card__raiting" title={{filmRaiting}}>
                <div class="raiting-body">
                    <div class="rating-active" style=width:{{filmRaiting}};>
                        <div class="rating-active-wrapper">
                            <span class="rating-active-color">★</span>
                            <span class="rating-active-color">★</span>
                            <span class="rating-active-color">★</span>
                            <span class="rating-active-color">★</span>
                            <span class="rating-active-color">★</span>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
</a>